header
	width 100%
	position fixed
	display block
	height 80px
	padding 0
	top 0
	color #fff
	z-index 9
	/*Arregla en chrome el parpadeo del scroll con el menu fixed*/
	transform translateZ(0)
	.logo
		width 10%
		text-align center
		height 80px
		margin 0
		padding 0
		position relative
		img
			max-width 100%
			max-height 100%
	ul
		position absolute
		top -5px
		right 0
		width 30%
		font-weight 700
		
		li
			display inline-block
			width 45%
			padding 15px 0
			margin-right 10px
			text-align center
			font-size 1em
			margin-top 0

	