.icon-login
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 0
	-webkit-font-smoothing antialiased
.icon-login:before
	content "\f011"
