<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head lang="es">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Titulo Pagina -->  
        <title> 
            {% block title %} 
            {% endblock%} 
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=0" />
        <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/appre.css">
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- HEADER -->
        <header>
            <div class="grid">
                <!-- MODULO LOGIN|REGISTRARSE -->
                <div class="logo">
                    <img src="{{STATIC_URL}}img/logo.png" alt="">

                </div>
                <ul>
                    <li class="login">Iniciar Sesion</li>
                    <li class="registrarse">Registrarse</li>
                </ul><!-- FIN|LOGIN-REGISTRO -->
            </div>
        </header>
        <div class="contenido">
            <div class="landing ">
                <h1>Una nueva forma de mejorar tu experiencia academica.</h1>
                <h2>Navega por esta  aplicacion que te ayudara a realizarte como un profesionista</h2>
                <div class="comenzar">Comienza Ya</div>
            </div>
        <!--  FIN|HEADER -->
            <!-- Grid| Contenido General -->
            {% block content %}
            {% endblock %}
            <!-- FIN Grid| Contenido General -->
        </div>
        <div class="info">
            asda
        </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{STATIC_URL}}js/appre.js"></script>

    <!-- Bloque | javascripts adicionales  -->
    {% block javascripts %} 

    {% endblock%}
    <!-- FIN |  javascripts adicionales -->
    </body>
</html>